*{
    margin: 0;
}

@font-face {
    font-family: "Volkorn_Bold";
    src: url(../assets/font/VollkornSC-Bold.ttf);
}
@font-face {
    font-family:"Inter_bold" ;
    src: url(../assets/font/Inter-Bold.ttf);
}

body{
    height: 98vh;
    width: 100vw;
    background-image: url(../assets/image/aurorbor1.jpg);
}



.placelogo{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    margin-top: 20vh;
    margin-left: 38vw;
}
.logo{
    height: 250px;
    margin-top: 1%;
    margin-bottom: 1%;
    animation: rebond 1s infinite alternate cubic-bezier(1, 0, 0.755, 1.470);
    animation-iteration-count: infinite;
    animation-direction: reverse;
    
}

.dev, .web{
    font-family: "Volkorn_Bold";
    color: #f5f5f5;
    font-size: 3.75em ;
}


 /*-------------------------------------
             PLACEMENT  NAV
---------------------------------------*/

.logopetit{
    margin-left: 1%;
}


ul{
    display: flex;
    justify-content:space-between;
    font-size: 1.500em;
    list-style-type: none;
    margin-right: 4%;
    margin-top: 1%;

}
a:hover{
    color: #01eca9;
    
}

a{
    color: #f5f5f5;
    text-decoration: none;
    font-family: "Inter_bold";
}

 /*-------------------------------------
             ANIMATION LOGO
---------------------------------------*/



@keyframes rebond {

    from{
        transform: scale(1);
    }
      to {
        transform: scale(1.1);
        opacity: 0.9;
    }
}


