*{
    margin: 0;

}

@font-face {
    font-family: "Volkorn_Bold";
    src: url(../assets/font/VollkornSC-Bold.ttf);
}
@font-face {
    font-family:"Inter_bold" ;
    src: url(../assets/font/Inter-Bold.ttf);
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(117.01deg, #020024 0.53%, #10403B 39.38%, #009589 100%);
    overflow-x:hidden;

}
.accueil{
    background-image: url(../assets/image/aurorbor1.jpg);
    height: 100vh;
}

.trail { /* Animation souris */
    position:absolute;
    height: 15px; width: 15px;
    border-radius: 15px;
    background-color: #01eca9;
  }


.placelogo{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    margin-top: 20vh;
    margin-left: 38vw;

}
.logo{
    height: 250px;
    margin-top: 1%;
    margin-bottom: 1%;
    animation: rebond 1s infinite alternate cubic-bezier(1, 0, 0.755, 1.470);
    animation-iteration-count: infinite;
    animation-direction: reverse;
    
}

.dev, .web{
    font-family: "Volkorn_Bold";
    color: #f5f5f5;
    font-size: 3.75em ;
}


 /*-------------------------------------
             PLACEMENT  NAV
---------------------------------------*/

.logopetit{
    margin-left: 1%;
    margin-top: 1%;
}


ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 1.300em;
    list-style-type: none;
    margin-right: 4%;
    position:fixed;
    width: 100%;
    padding: 0;


}
a:hover{
    color: #01eca9;
    
}

a{
    color: #f5f5f5;
    text-decoration: none;
    font-family: "Inter_bold";
}


 /*-------------------------------------
          ANIMATION LOGO ACCUEIL
---------------------------------------*/

@keyframes rebond {

    from{
        transform: scale(1);
    }
      to {
        transform: scale(1.1);
        opacity: 0.9;
    }
}





